body{
    background-color: #FFF1DC;
    margin: 0px;
}
h1{
    background-color: #342309;
    color: #FDC168;
    margin: 0px;
    padding: 10px;
}
h2{
    color: #FDC168
}
.staff-wrapper{
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #FB9902;
    color: #FDC168;
    border-radius: 10%;
}
.staff-info-wrapper{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25px;
    background-color: #FFF1DC;
    color: #342309
    
}
li{
    list-style: none;
    color: #342309
}
.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center
}
img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    opacity: 80%;
}
/* unvisited link */
a:link {
    color: #342309
  }
  
  /* visited link */
  a:visited {
    color: #342309
  }
  
  /* mouse over link */
  a:hover {
    color: #FDC168;
  }
  
  /* selected link */
  a:active {
    color: #342309
  }